/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Atkinson+Hyperlegible&display=swap');

/* Graphics */
img {
  right:0;
  position:absolute;
  border-style: solid;
  border-radius:66%;
  border-width:0.3rem;
  border-color:rgba(0, 0, 0, .2);
  background-color:rgba(0, 0, 0, .2);
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}
a:active {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

/* Headers */
h1 {
  font-size: 4rem;
  font-family:'Atkinson Hyperlegible', sans-serif;
  font-weight: bold;
}
h2 {
  font-size: 2.5rem;
  font-family:'Atkinson Hyperlegible', sans-serif;
}
h3 {
  font-size: 2.0rem;
  font-family:'Atkinson Hyperlegible', sans-serif;
}
.name {
  font-size: 1.8rem;
  font-family:'Atkinson Hyperlegible', sans-serif;
}

/* General Text */
p {
  font-size: 1.5rem;
  font-family: 'ABeeZee', monospace;
}
.description {
  font-size: 1.3rem;
  font-family: 'ABeeZee', monospace;
}

li {
  font-size: 1.5rem;
  font-family: 'ABeeZee', monospace;
}

/* Containers */
body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  color: white;
  background: #202731;
  overflow-x: hidden;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.small {
  min-height: 0.6rem;
}

/* Colored Containers */
.yellow {
  background: #ffcc33;
  color: black;
}

.blue {
  background: #2a52be;
}

.red {
  background: #dd3f31;
}

.pink {
  background: #d470a2;
  overflow: hidden;
}

.dark {
  background: #0f0f10;
}

/* Curves */
.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: hsl(216, 21%, 16%);
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #3c31dd;
  transform: translate(-4%, 40%);
  z-index: -1;
}

.bottomcurve::after{
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background: #dd3f31;
  transform: translate(-4%, 40%);
  z-index: -1;
}

.bubble::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #0f0f10;
  height: 85%;
}

.bottombubble::after {
  background: #dd3f31;
}
